.movie-card-container {
    padding-top: 100px;
    /* border: 1px solid red; */
    margin: 20px 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.movie-card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.movie-card-container>img {
    height: 200px;
}

.description>h4 {
    height: 30px;
}

.description>p {
    /* opacity: 0.5; */
    height: auto;

    
}