@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.nav-container {
    background-color: #183251;
    list-style: none;
    display: flex;
    justify-content:space-between;
    text-align:center;
    vertical-align: center;
    padding: 10px;
    text-decoration: none;
}

.navbrand {
display: flex;
align-items: center;
text-decoration: none;
}

li, Link {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #F3F0D7;
    text-decoration: none;
    text-align:center;
    text-decoration: none;
}

.navlinks, li:hover {
    color:  #FF7878;
    text-decoration: none;
 }

.navlinks, li {
    padding: 0px 25px;
    transition: all 0.3s ease 0s;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

