
/* .form is also on SignInPage.css */
.form{
    background: #6F1A07;
    height: 260px;
    width: 13%;
    margin: auto;
    padding: 10px;
    z-index: 4;
    position: static;
    border-style: none;
    grid-area: overlap;
    align-self: center;
    justify-self: center;
    display: inline-block;
} 

.SignUpcontainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap";
    margin:auto;
    margin-top: 5%;
}

.Box1SU{
    background-color: #af916446;
    width: 80%;
    height: 650px;
    grid-area: overlap;
    align-self: center;
    justify-self: center;
    border: #af9164;
    border-style: solid;
    border-width: 17px;
}

.Box2SU{
    background-color: transparent;
    width: 60%;
    height: 400px;
    grid-area: overlap;
    align-self: center;
    justify-self: center;
    border: #6f1a07;
    border-style: solid;
    border-width: 17px;
}

.Box3SU{
    background-color:#af9164;
    width: 26%;
    height: 590px;
    grid-area: overlap;
    align-self: center;
    justify-self: center;
    border: #2B2118;
}

.Box4SU{
    background-color: #F7F3E3;
    width: 22%;
    height: 530px;
    grid-area: overlap;
    align-self: center;
    justify-self: center;
    border: #2b2118ad;
    border-style: solid;
    border-width: 6px;
}

.Box5SU{
    color: #F7F3E3;
    margin: auto;
    font-size: 17px;
    text-align: center;
    background-color: #6F1A07;
    opacity: 0.4;
    width: 18%;
    height: 400px;
    grid-area: overlap;
    align-self: center;
    justify-self: center;
    border: #332418;
     border-style: solid;
    border-width: 6px;
}

.Sign-UpDetails{
    display: block;
    text-align: center;
    margin: 25%;
    color:#F7F3E3;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

div.SignUpInput{
    align-items: 'center';
    display: block;
    text-align: center;
    position: relative;
}

.Sign-UpDetails input{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 2;
}

label .SignUpcontainer{
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    display: grid;
    place-items: center;
}

.CreateAccount{
    align-self: center;
    align-items: center;
    text-align: center;
    margin: auto;
    font-size: 2vw;
}

input{
    border-radius: 5px;
    height: 18px;
}

/* .outerForm{
    display: inline-block;
    text-align: center;
    grid-area: overlap;
    align-self: center;
    justify-self: center;
    background-color: transparent;
    position: static;

} */

.Sign-Ip-Button{
    margin: auto;
}